.header{
    background-image: url("../../img/header.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &__contenedorTexto{
        position: absolute;
        padding: 1rem;
        margin-left: 5rem;

        &--h1{
            color: white;
            font-size: 3.25em;
        }
    
        &--h2{
            margin-top: 2rem;
            font-size: 1.8em;
            color: white;
        }
    }
}