.menu{
    color: white;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 4rem;
    z-index: 1;
    top: 0rem;
    display: flex;
    justify-content: center;
    transition: all 0.2s;

    &__link, &__link:visited, &__active{
        text-decoration: none;
        color: white;
    }

    &__logo{
        &--ul{
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
            list-style: none;
        }

        &--li{
            
        }
    }

    &__nav{
        &--ul{
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content:space-around;
            list-style: none;
        }

        &--li{
            transition: all 1s;
        }

        &--li:hover{
            transition: all 1s;
            transform: translateY(-0.4rem);
        }
    }

    &__buscador{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--barra{
            padding: 0.3rem 2rem;
            border: none;
            border-radius: 10px;
            transition: all 0.5s;
        }

        &--barra:focus{
            padding-right: 10%;
            transition: all 0.5s;
            outline: none;
        }
    }
}

.menuScrollDown{
    background-color: rgba(119,87,136,255);;
    transition: all 0.2s;
}