.sectionTours{
    padding-top: 0.01rem;
    background-color: rgba(248,248,248,255);

    &--titulo{
        width: 100%;
        margin: 5rem 0;
        font-size: 3em;
        text-align: center;
        color: rgba(119,87,136,255);
        //color: #6366f1;
    }

    &--boton{
        color: #0099CC;
        border: 2px solid #0099CC;
        border-radius: 70px;
        margin: 0 1rem;
    }

    &__contenedorOrdenar, &__contenedorFiltros{
        width: 100%;
        margin: 1rem 0;

        &--boton{
            color: #4CAF50;
            border: 2px solid #4CAF50;
            border-radius: 70px;
            margin: 0 1rem;
        }
    }

    &__contenedorTours{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: 20rem 20rem 20rem;

        &--tour{
            position: relative;
            width: 20rem;
            height: 25rem;
            margin: 1rem 2rem;
            margin-bottom: 2.5rem;
            background-color: white;
        }

        &--contenedorImagen{
            width: 100%;
            height: 45%;
            overflow: hidden;
        }

        &--imagen{
            width: 100%;
            height: 100%;
            transition: 1.5s;
        }

        &--imagen:hover{
            transition: all 1.5s;
            transform: scale(1.25);
        }

        &--botonDelete{
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: #af4c4c;
            border: 2px solid #af4c4c;
            border-radius: 70px;
        }

        &--icono{
            color: rgba(255, 255, 0, 0.411);
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            transition: all 0.3s;
        }

        &--iconoFav{ //Cambiar solo del color en vez de otra clase
            color: yellow;
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            transition: all 0.3s;
        }

        &--icono:hover{
            color: yellow;
        }

        &--icono:active{
            transform: scale(2);
            transition: all 0.5s;
        }

        &--titulo{
            font-size: 1.7em;
            margin: 1rem 0;
        }

        // &--precio{

        // }

        // &--info{

        // }
    }
}

#contenedorOrdenar, #contenedorFiltro{
    width: 100%;
    margin: 1rem 0;
    //visibility: hidden;
    display: none;
}