@import "./components/Header.scss";
@import "./components/Menu.scss";
@import "./components/SectionTours.scss";
@import "./components/footer.scss";

* {
    font-family: 'KG Modern Monogram Plain';
    margin: 0;
    padding: 1;
}